/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    color: #000000;
    background-color: #fff;
}
/* Estilos para el modo oscuro */


/* Monitores Grandes */
@media (min-width: 1441px) {
    .imgDescripcionIndex img {
        object-fit: fill;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .hero-image img {
    object-fit: cover;
        width: 75%;
        aspect-ratio: 16 / 9;
    }
}

/* Laptops y PC */
@media (max-width: 1440px) {
    .imgDescripcionIndex img {
        object-fit: fill;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .hero-image img {
    object-fit: cover;
        width: 75%;
        aspect-ratio: 16 / 9;
    }
}

/* Tablets */
@media (max-width: 1024px) {
    .imgDescripcionIndex img {
        object-fit: fill;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .hero-image img {
    object-fit: cover;
        width: 75%;
        aspect-ratio: 16 / 9;
    }
}

/* Teléfonos Grandes */
@media (max-width: 768px) {
    .imgDescripcionIndex img {
        object-fit: fill;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .hero-image img {
    object-fit: cover;
        width: 75%;
        aspect-ratio: 16 / 9;
    }
}

/* Teléfonos Pequeños */
@media (max-width: 500px) {
    .imgDescripcionIndex img {
        object-fit: fill;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .hero-image img {
    object-fit: cover;
        width: 75%;
        aspect-ratio: 16 / 9;
    }
}
.texto-index-titulo{
    margin-left: 10%;
    margin-right: 10%;

}



header {
    background: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Monitores Grandes */
@media (min-width: 1441px) {
    h1 { font-size: 34px; }
    h2 { font-size: 30px; }
    h3 { font-size: 24px; }
    p { font-size: 20px; }
    .btnscomentarios svg{ width: 20px;}
    .hora-comentario{font-size:14px ;}
    .contactos a { font-size: 20px; }
    .nav-links a { font-size: 18px; }
    button { font-size: 20px; padding: 12px 16px; }
    form input, form textarea { font-size: 20px; padding: 12px; }
}

/* Laptops y PC */
@media (max-width: 1440px) {
    h1 { font-size: 30px; }
    h2 { font-size: 26px; }
    h3 { font-size: 20px; }
    p { font-size: 18px; }
    .btnscomentarios svg{ width: 20px;}
    .hora-comentario{font-size: 12px;}
    .contactos a { font-size: 18px; }
    .nav-links a { font-size: 16px; }
    button { font-size: 18px; padding: 10px 14px; }
    form input, form textarea { font-size: 18px; padding: 10px; }
}

/* Tablets */
@media (max-width: 1024px) {
    h1 { font-size: 26px; }
    h2 { font-size: 22px; }
    h3 { font-size: 16px; }
    p { font-size: 16px; }
    .btnscomentarios svg{ width: 16px;}
    .hora-comentario{font-size: 10px;}
    .contactos a { font-size: 16px; }
    .nav-links a { font-size: 14px; }
    button { font-size: 16px; padding: 8px 12px; }
    form input, form textarea { font-size: 16px; padding: 8px; }
}

/* Teléfonos Grandes */
@media (max-width: 768px) {
    h1 { font-size: 22px; }
    h2 { font-size: 18px; }
    h3 { font-size: 14px; }
    p { font-size: 14px; }
    .btnscomentarios svg{ width: 14px;}
    .hora-comentario{font-size: 8px;}
    .contactos a { font-size: 14px; }
    .nav-links a { font-size: 12px; }
    button { font-size: 14px; padding: 6px 10px; }
    form input, form textarea { font-size: 14px; padding: 6px; }
}

/* Teléfonos Pequeños */
@media (max-width: 500px) {
    h1 { font-size: 18px; }
    h2 { font-size: 16px; }
    h3 { font-size: 13px; }
    p { font-size: 12px; }
    .btnscomentarios svg{ width: 12px;}
    .hora-comentario{font-size: 6px;}
    .contactos a { font-size:  12px; }
    .nav-links a { font-size: 10px; }
    button { font-size: 12px; padding: 4px 8px; }
    form input, form textarea { font-size: 12px; padding: 4px; }
}

@media (max-width: 280px) {
    h1 { font-size: 14px; }
    h2 { font-size: 12px; }
    h3 { font-size: 9px; }
    p { font-size: 8px; }
    .btnscomentarios svg{ width: 8px;}
    .hora-comentario{font-size: 4px;}
    .contactos a { font-size:  8px; }
    .nav-links a { font-size: 8px; }
    button { font-size: 8px; padding: 4px 8px; }
    form input, form textarea { font-size: 8px; padding: 4px; }
}


.text-visit{
    text-align: justify;
}
.visit-title{
    text-align: center;
}

.log{
    text-align: center;
    justify-content: center;
}

/* Navegación */
.navbar {
justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #333;
    margin-bottom: 1px;
    
}

.nav-links {
    flex-wrap: wrap; /* Permite que los enlaces se ajusten en pantallas pequeñas */
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    list-style: none;
    margin: 0;
    padding: 1px;
}

.linea a{
    position: relative;
    padding-bottom: 5px; /* Espacio para la línea */

}
.noLinea{
  width: 30px;
  height: 20px;
}
/* Pseudo-elemento para la línea debajo del enlace */
.linea a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    transform: scaleX(0); /* Oculta la línea inicialmente */
    transform-origin: bottom right; /* Punto de origen de la animación */
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

/* Animación al pasar el cursor sobre el enlace */
.nav-links a:hover::after {
    transform: scaleX(1); /* Muestra la línea al 100% */
    transform-origin: bottom left; /* Dirección de la animación */
}

.nav-links li {
    margin: 2px 8px;
    flex: 1; /* Permite que los elementos se distribuyan de forma flexible */
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

/* boton login */
.btn-login {
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #000000;
    position: relative;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .btn-login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffffff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .btn-login:hover {
    color: #000000;
   }
   
   .btn-login:hover::before {
    width: 100%;
   }


   /* modo oscuro */

.switch {
    position: relative;
    display: inline-block;
    width: 120px; /* Más pequeño */
    height: 65px; /* Más pequeño */
    justify-content: center;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ffffff; /* Fondo claro (sol) por defecto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 9999px;
    transition: all 0.4s cubic-bezier(.46, .03, .52, .96);
    height: 50%;
    width: 50%;
    margin: auto;
}

.switch__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-80%); /* Posición inicial a la izquierda */
    display: block;
    width: 31%; /* Más pequeño */
    background-color: #000000; /* Color del sol */
    border-radius: 9999px;
    box-shadow: none; /* Sin sombra para el sol */
    transition: all 0.4s cubic-bezier(.46, .03, .52, .96);
    aspect-ratio: 1 / 1;
}

.switch__indicator::before,
.switch__indicator::after {
    position: absolute;
    content: '';
    display: block;
    background-color: #000000;
    border-radius: 9999px;
}

.switch__indicator::before {
    top: 5px; /* Ajustado */
    left: 4px; /* Ajustado */
    width: 3px; /* Más pequeño */
    height: 3px; /* Más pequeño */
    background-color: #000000;
    opacity: 0.6;
}

.switch__indicator::after {
    bottom: 4px; /* Ajustado */
    right: 3px; /* Ajustado */
    width: 4px; /* Más pequeño */
    height: 4px; /* Más pequeño */
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
}

.switch__decoration {
    position: absolute;
    top: 50%;
    left: 20%; /* Posición inicial a la izquierda */
    display: block;
    width: 8px; /* Más pequeño */
    height: 8px; /* Más pequeño */
    background-color: #515151;
    border-radius: 9999px 9999px 0 0;
    animation: cloud 8s linear infinite;
}
.switch__decoration1 {
  position: absolute;
  top: 50%;
  left: 20%; /* Posición inicial a la izquierda */
  display: block;
  width: 8px; /* Más pequeño */
  height: 8px; /* Más pequeño */
  background-color: #515151;
  border-radius: 9999px 9999px 0 0;
  animation: cloud 8s linear infinite;
}

.switch__decoration2 {
  position: absolute;
  top: 50%;
  left: 20%; /* Posición inicial a la izquierda */
  display: block;
  width: 8px; /* Más pequeño */
  height: 8px; /* Más pequeño */
  background-color: #515151;
  border-radius: 9999px 9999px 0 0;
  animation: cloud 8s linear infinite;
}

.switch__decoration::before,
.switch__decoration::after {
    position: absolute;
    display: block;
    content: '';
    background-color: #515151;
    border-radius: 9999px 9999px 0 0;
}

.switch__decoration::before {
    width: 10px; /* Más pequeño */
    height: 10px; /* Más pequeño */
    top: -22%;
    left: -115%;
    animation: none;
}

.switch__decoration::after {
    width: 10px; /* Más pequeño */
    height: 9px; /* Más pequeño */
    top: -12%;
    left: -196%;
    animation: none;
}

@keyframes cloud {
    0% {
        transform: translate(150%, -50%);
    }
    50% {
        transform: translate(250%, -50%);
    }
    100% {
        transform: translate(150%, -50%);
    }
}

/* Cuando el switch está activado (modo oscuro) */
.switch input:checked + .slider {
    background-color: #000000; /* Fondo oscuro */
    border-color: #000000; /* Borde gris oscuro */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    
}

.switch input:checked + .slider .switch__indicator {
    background-color: #7B7B7B; /* Color de la luna */
    transform: translate(-50%, -50%) translateX(90%); /* Movido a la derecha */
    box-shadow: 5px 0px 0 0 rgba(0, 0, 0, 0.2) inset; /* Sombra para la luna */
}



.switch input:checked + .slider .switch__decoration {
    top: 55%;
    left: 20%; /* Movido a la derecha */
    width: 8px; /* Más pequeño */
    height: 8px; /* Más pequeño */
    background-color: #FFFFFF;
    clip-path: polygon(
      50% 0%, 61% 35%, 98% 35%, 68% 57%,
      79% 91%, 50% 70%, 21% 91%, 32% 57%,
      2% 35%, 39% 35%);
    border-radius: 9999px;
    animation: twinkle 0.8s infinite -0.6s;
}

.switch input:checked + .slider .switch__decoration1 {
  top: 15%;
  left: 25%; /* Movido a la derecha */
  width: 8px; /* Más pequeño */
  height: 8px; /* Más pequeño */
  background-color: #FFFFFF;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%,
    2% 35%, 39% 35%);
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;
}
.switch input:checked + .slider .switch__decoration2 {
  top: 40%;
  left: 35%; /* Movido a la derecha */
  width: 8px; /* Más pequeño */
  height: 8px; /* Más pequeño */
  background-color: #FFFFFF;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%,
    2% 35%, 39% 35%);
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;
}

.switch input:checked + .slider .switch__decoration::before {
    top: -10px; /* Ajustado */
    left: 5px; /* Ajustado */
    opacity: 1;
    animation: twinkle 0.6s infinite;
}

.switch input:checked + .slider .switch__decoration::after {
    top: -4px; /* Ajustado */
    left: 15px; /* Ajustado */
    animation: twinkle 0.6s infinite -0.2s;
}
.switch input:checked + .slider .switch__indicator::after,
.switch input:checked + .slider .switch__indicator::before {
 background-color: #191919a1;
}

@keyframes twinkle {
    50% {
        opacity: 0.2;
    }
}



/* buscador */ 
.input-buscador {
    padding: 5px;
    font-family: "Courier New", monospace;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
  }

  
  .input-buscador::placeholder {
    color: #888;
  }
  
  .input-buscador:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
  }
  
  .input-buscador:focus {
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
  }
  
  .input-buscador:focus::placeholder {
    color: #fff;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width:14em;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .input-buscador:focus::after {
    content: "|";
    position: absolute;
    right: 10px;
    animation: blink 0.7s step-end infinite;
  }
  
  .input-buscador:valid {
    animation: typing 2s steps(30, end);
  }
  .input-container-buscador {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 20px;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
  }
  

  
  .input-buscador::placeholder {
    color: #888;
  }
  
  .input-buscador:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
  }
  
  .input-buscador:focus {
    background-color: #010101;
    color: #fff;
    border-color: #d6d9dd;
  }
  
  .input-buscador:focus::placeholder {
    color: #fff;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) rotate(-5deg);
    }
    50% {
      transform: translateX(5px) rotate(5deg);
    }
    75% {
      transform: translateX(-5px) rotate(-5deg);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .input-buscador:focus {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes glitch {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  .input-buscador:not(:placeholder-shown) {
    animation: glitch 1s linear infinite;
  }
  
  .input-container-buscador::after {
    content: "|";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    animation: blink 0.7s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .inpu-buscadort:focus + .input-container-buscador::after {
    color: #fff;
  }
  
  .input-buscador:not(:placeholder-shown) {
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0 #000;
  }
  



/* Hero Section */
.hero {
    text-align: center;
    padding: 20px;
}

.hero h2 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}



.hero-image img {
    border-radius: 5px;

}

/* Sección de Tarjetas */
.why-visit {
    padding: 20px;
    text-align: center;
    
}

.why-visit h2 {
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.card h3 {
    margin: 10px;
    color: #000;
}

.card p {
    margin: 10px;
}



.footer-content p {
    margin: 5px 0;
}




.log a {
    color: #000000;
    text-decoration: none;
}

/* cambio de idioma */


.language-switch {
    background: #f8f8f8;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10%;
    margin: auto;
  }
  
  .language-switch a {
    z-index: 1;
    color: rgb(0, 0, 0);
    text-decoration: none;

  }
  
  .language-switch::before {
    content: '';
    position: absolute;
    width: 120%;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 50%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .language-switch::after {
    content: '';
    position: absolute;
    background: #f8f8f8;
    inset: 5%;
    border-radius: 10%;
  }  

  

.sitios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinea los sitios al centro */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 5px;


}
.versitios-container {
    justify-content: center; /* Alinea los sitios al centro */
    gap: 20px; /* Espacio entre los elementos */
    margin-bottom: 20px;
    margin-top: 20px;
}

.sitio {
    background: #fff;
    text-align: center;
    max-width: 800px; /* Ancho máximo para que el sitio no se expanda demasiado */
    width: 100%; /* Se adapta al ancho disponible */
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100%; /* Ajusta la altura para que cubra toda la pantalla */
    display: flex; /* Para alinear elementos internos */
    flex-direction: column; /* Mantiene los elementos en columna */
    padding: 5px; /* Agrega espacio para evitar cortes en contenido */
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

.sitio img {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Recorta la imagen manteniendo la proporción */
}

.contactos{
    display: flex; /* Permite usar justify-content y align-items */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */

}
.login-message a{
  color: #000000;

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
    background-color: #e6e6e6;
    color: #000000;
    text-align: center;
    border-top: 2px solid #555;
}

.imagenes-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 385px; /* Controla la altura máxima */
    max-width:  770px;
}

.imagenes-container img {
    flex: 1 1 calc(400px - 10px); /* Define tamaño del 50% menos el espacio */
    max-height: 100%; /* Controla la altura máxima */
    max-width: 50%;
    object-fit: cover; /* Recorta la imagen manteniendo proporción */
    
}

/* Responsividad: cuando la pantalla es más pequeña */
@media (max-width: 770px) {
    .imagenes-container img {
        width: 100%; /* Las imágenes ocupan el 100% del contenedor */
        height: 200px; /* Mantiene una altura fija para pantallas pequeñas */
    }
}

/* Estilo general del contenedor */
.transporte-container {
    width: 100%;
    display: flex;
    gap: 1px; /* Espacio entre las columnas */

}
.imagen-izquierda{
    width: 50%;
}


.imagen-izquierda img  {
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.info-derecha img  {
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;

}

.info-derecha{
    width: 50%;

}

/* Texto de la información */
.info-texto {
  
    color: #333; /* Color del texto */

}
.title-acerca{
 margin-bottom: 10px;
}




/* Contenedor principal */
.acerca-de {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;
}

/* Flexbox para texto e imagen */
.contenedor-acerca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* Texto */
.texto-acerca {
    flex: 1;
    max-width: 600px;
}

.texto-acerca h2 {
    margin-bottom: 15px;
}

.texto-acerca p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Imagen */
.imagen-acerca img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

/* Formulario */
.contacto {
    margin-top: 40px;
}

.contacto h3 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-campos {
    display: flex;
    gap: 15px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: none;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}



.card {
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}



.btn-acercaa {
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   .btn-acercaa a{

    color: white;

   }
   
   .btn-acercaa:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }

   .btn-acercaa:hover a{
    color: black;
   }
   
   .btn-acercaa:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }



.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
      );
    color: #fff;
  }
  .wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
    background: #000;
    color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
    background: #25D366;
    color: #fff;
}


/* cometnarios */
/* From Uiverse.io by zanina-yassine */ 
.cardC {
    max-width: 800px;
    width: 100%;
    margin: auto;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 27px 27px;
  }
  
  .title {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 13px;
    color: #47484b;
  }
  
  .title::after {
    content: '';
    width: 8ch;
    height: 1px;
    position: absolute;
    bottom: -1px;
    background-color: #47484b;
  }
  
  .comments {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    margin-right: 10%;
    border-radius: 5px;

  }
  
  .comment-react {
    height: fit-content;
    display: grid;
    margin: 0;
    background-color: #f1f1f1;
    background-color: white;
    border-radius: 5px;
  }
  
   .comment-react button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
  }


  .comment-react button:after {
    content: '';
    position: absolute;
    width: 50px;  /* Ajusta según sea necesario */
    height: 50px; /* Ajusta según sea necesario */
    left: -0.1px;
    top: -7px;
    background-color: #f5356e;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
  }  
  
   .comment-react button svg {
    position: relative;

  }
  
  .comment-react button:hover:after {
    animation: ripple 0.6s ease-in-out forwards;
  }
  
  .comment-react button:hover svg {
    fill: #f5356e;
  }
  
  .comment-react button:hover svg path {
    stroke: #f5356e;
    fill: #f5356e;
  } 
   
   .comment-react hr {
    width: 88%;
    height: 1px;
    background-color: #dfe1e6;
    border: 0;
  } 
  
   .comment-react span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #707277;
  } 
  .meGusta svg{
    color: #ff0000;
    width: 25px;
}
@keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


  
  .comment-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  
  .comment-container .user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
  }
  
  .comment-container .user .user-pic {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
  }
  
  .comment-container .user .user-pic:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: #0fc45a;
    border: 2px solid #ffffff;
  }
  
  .comment-container .user .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
  }
  
  .comment-container .user .user-info span {

    color: #47484b;
  }
  
  .comment-container .user .user-info p {

    color: #acaeb4;
  }
  
  .comment-container .comment-content {

    line-height: 16px;
    margin-top: 1%;
    color: #5f6064;
  }
  
  .text-box {
    width: 100%;
    height: fit-content;
    background-color: #f1f1f1;
    padding: 8px;
  }
  
  .text-box .box-container {
    background-color: #ffffff;
    border-radius: 8px 8px 21px 21px;
    padding: 8px;
  }
  
  .text-box textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 0;
    border-radius: 6px;
    padding: 12px 12px 10px 12px;
    outline: none;
    caret-color: #121315;
  }
  
  .text-box .formatting {
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
    align-items: center;  /* Centra contenido verticalmente */

  }
  
  .text-box .formatting button {
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    outline: none;
    aspect-ratio: 1 / 1;
    
  }

  .text-box .formatting button:hover {
    background-color: #f1f1f1;
  }
  



.formatting button {
    background: white;
    border: none;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formatting svg {

    stroke: #333;
    fill: none;
}


.btnscomentarios{
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    width: 100%; 
}

/* Diseño del botón */
.btnEnviar {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    width: 50px; /* Ajusta según sea necesario */
    height: 50px;
    min-width: 40px; /* Evita que desaparezca en grandes resoluciones */
    min-height: 40px;
}

/* Tamaño fijo para el ícono SVG */
.btnEnviar svg {
    width: 100%;
    height: 100%;
}

/* Efecto hover */
.btnEnviar:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

/* Efecto al hacer clic */
.btnEnviar:active {
    transform: scale(0.95);
}

/* Rotación del SVG al pasar el mouse */
.btnEnviar:hover svg {
    transform: rotate(45deg);
    transition: all 0.3s;
}
.login-message{
    text-align: center;
}


.formatting button.active {
    background-color: #ccc;
    border-radius: 5px;
}

.comment-box {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.comment-box:empty:before {
    content: attr(placeholder);
    color: #999;
    pointer-events: none;
}


.emoji-picker {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    z-index: 1000;
 
}

.emoji-picker span {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    transition: background 0.2s;
}

.emoji-picker span:hover {
    background: #f0f0f0;
    border-radius: 5px;
}



/* Login */
.login-box {
  margin: 30px auto;
  padding: 40px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 5px 25px rgb(0, 0, 0);
  border-radius: 10px; 
}


.login-box p:first-child {
  padding: 0;
  color: #000000;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
  margin-top: 30px;
}
  
input:-webkit-autofill {
  color: #fff !important;
  background-color: #222 !important; /* Un gris oscuro para diferenciar */
  -webkit-text-fill-color: #000000 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
}


.login-box .user-box input {
  width: 100%;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label {
  top: -30px;
  left: 0;
  color: #000000;
  transition: 0.3s;
}


.login-box form .btn-acceder {
  position: relative;
  margin-top: 50px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;

  letter-spacing: 3px;
  margin-bottom: 25px;
}

.login-box .btn-acceder:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box .btn-acceder span {
  position: absolute;
  display: block;
}

.login-box .btn-acceder span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000000);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box .btn-acceder span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000000);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box .btn-acceder span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #000000);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box .btn-acceder span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #000000);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #4a4a4a;

}

.login-box a.a2 {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.login-box a.a2:hover {
  background: transparent;
  color: #727272;
  border-radius: 5px;
}






/* eliminar, editar */
/* eliminar, editar */

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 10px;
}
.bin-top {
  width: 12px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}


/* From Uiverse.io by vinodjangid07 */ 
.editBtn {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 12px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(3px);
}
.editBtn::after {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  bottom: 14px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}


.acciones{
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  gap: 10px; /* Espacio entre botones */
  margin: auto;
}

table{
  margin: auto;
  text-align: center;

    min-width: 320px;
    max-width: 1000px;
    flex-direction: column;
    gap: 35px;
    width:100%;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Color para filas impares */
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Gris claro */
}

/* Color para filas pares */
tr:nth-child(even) {
  background-color: #d9d9d9; /* Gris más oscuro */
}